<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Mon Site Web - {% block title %}{% endblock %}</title>       
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="text-center">
        <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
        {% include 'inc/header.html.twig' %}
        
            {% block body %}{% endblock %}
        {% include 'inc/footer.html.twig' %}    
        </div>
        
        
        
        <script src="{{ asset('js/jquery-3.4.1.js') }}"></script>
        <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
